services:
  app:
    build: .
    image: argus:latest
    ports:
      - 8888:8888
    volumes:
      - ./development.yml:/app/development.yml
      - ./argus:/app/argus
      - ./models:/app/models
      - ./res:/app/res
      - ./data:/app/data
      - ./staff:/app/staff
    env_file: 
      - path: env
        required: false
    command: python3 -m argus.run
